*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display:flex;
    flex-direction:column;
    background:#111;
}

/* HEADER */

header{
    text-align:center;
    padding:40px;
    color:white;

    background:linear-gradient(90deg,#410000,#222);
}

header h1{
    font-size:2.5rem;
}

header p{
    margin-top:10px;
    opacity:0.8;
}

/* CONTAINER */

.container{
    flex:1;
    display:flex;
}

/* LADOS */

.lado{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;

    transition:0.4s;
}

/* ESQUERDO */

.lado.esquerdo{
    background:#4e4e4e;
}

.lado.esquerdo:hover{
    background:#5e5e5e;
}

/* DIREITO */

.lado.direito{
    background:#410000;
}

.lado.direito:hover{
    background:#5a0000;
}

/* TEXTOS */

.lado h2{
    font-size:2.2rem;
    margin-bottom:10px;
}

.lado p{
    opacity:0.8;
    margin-bottom:25px;
}

/* BOTÃO */

.botao{
    text-decoration:none;
    padding:14px 35px;

    background:white;
    color:black;

    border-radius:30px;

    font-weight:bold;

    transition:0.3s;
}

.botao:hover{
    
    transform:scale(1.1);
    background:#ddd;

}

